 /* * {
  border: 1px solid red;
} */

body {
  background-color: hsl(225, 100%, 94%);
  margin: 0;
}

img {
  width: 100%;
  position: fixed;
}

.card {
  background-color: white;
  width: 430px;
  height: 670px;
  position: relative;
  margin: auto;
  top: 100px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 40px 40px rgba(5, 29, 236, 0.1);
}

.hero {
  width: 430px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info {
  position: relative;
  top: 255px;
}

p {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  margin: 0;
}

.title {
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 20px;
}

.description {
  color: grey;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 20px;
}

.plan {
  background-color: hsl(225, 100%, 98%);
  width: 330px;
  height: 90px;
  border: none;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
}

.music-icon {
  height: 45px;
  width: 45px;
  position: relative;
  top: 20px;
  left: 20px;
}

.conditions {
  position: relative;
  bottom: 30px;
  right: 35px;
}

.annual-plan {
  font-weight: 900;
  margin-bottom: 3px;
}

.price {
  color: grey;
}

.change {
  font-size: 14px;
  font-weight: 700;
  color: hsl(253, 67%, 42%);
  text-decoration: underline;
  position: relative;
  left: 120px;
  bottom: 60px;
}
