 /* * {
  border: 1px solid red;
} */

body {
  background-color: hsl(225, 100%, 94%);
  margin: 0;
}

img {
  width: 100%;
  position: fixed;
}

.card {
  background-color: white;
  width: 430px;
  height: 670px;
  position: relative;
  margin: auto;
  top: 100px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 40px 40px rgba(5, 29, 236, 0.1);
}

.hero {
  width: 430px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info {
  position: relative;
  top: 255px;
}

p {
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  margin: 0;
}

.title {
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 20px;
}

.description {
  color: grey;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 20px;
}

.plan {
  background-color: hsl(225, 100%, 98%);
  width: 330px;
  height: 90px;
  border: none;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.music-icon {
  height: 45px;
  width: 45px;
  position: relative;
  top: 20px;
  left: 20px;
}

.conditions {
  position: relative;
  bottom: 30px;
  right: 35px;
}

.annual-plan {
  font-weight: 900;
  margin-bottom: 3px;
}

.price {
  color: grey;
}

.change {
  font-size: 14px;
  font-weight: 700;
  color: hsl(253, 67%, 42%);
  text-decoration: underline;
  position: relative;
  left: 120px;
  bottom: 60px;
  transition: text-decoration 0.15s,
              cursor 0.15s, 
              color 0.15s;
}

.change:active {
  text-decoration: none;
  cursor: pointer;
  color: hsla(253, 67%, 42%, 0.5);
}

.proceed {
  background-color: hsl(243, 83%, 55%);
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  width: 330px;
  height: 50px;
  position: relative;
  left: 50px;
  box-shadow: 0px 10px 40px rgba(5, 29, 236, 0.35);
  margin-bottom: 30px;
  transition: background-color 0.15s,
              cursor 0.15s;
}

.proceed:active {
  background-color: hsla(243, 83%, 55%, 0.7);
  cursor: pointer;
}

.cancel {
  background-color: white;
  border: none;
  color: grey;
  font-weight: 900;
  position: relative;
  left: 173px;
  transition: color 0.15s,
              cursor 0.15s;
}

.cancel:active {
  color: black;
  cursor: pointer;
}

@media (max-width: 375px) {

  .info {
    top: 200px;
  }

  .card {
    width: 350px;
    position: relative;
    left: 12.5px;
  }

  .hero {
    width: 350px;
  }

  .title {
    margin-bottom: 15px;
  }

  .plan {
    width: 310px;
  }

  .description {
    line-height: 25px;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .proceed {
    width: 310px;
    position: relative;
    left: 20px;
    font-size: 18px;
    height: 60px;
  }

  .cancel {
    position: relative;
    left: 112.475px;
    font-size: 18px;
  }
}